<div class="list_item">
    <div class="list_item_tag" style="background-color: <%= list_item.task_category.color %>;">|||</div>
    <div class="list_item_name"><%= list_item.name %></div>
    <div class="list_item_menu">menu</div>
</div>

