// Styles for sign in, sign up, and forgot password

.small_form_box {
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  width: 30em;
  background-color: white;
  box-shadow: 5px 5px #270000;
}
