// Place all the styles related to the TaskCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_category_menu {
  float: left;
  //border-top: 1px solid #555555;
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(100, 50, 50);
  border-right: 1px solid rgb(100, 50, 50);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #DDAAAA;
  width: 100%;
  box-shadow: 2px 2px rgb(100, 50, 50);
  //margin: 1em 0;
}
a.task_category_menu_item, a.task_category_menu_item:visited {
  float: left;
  color: #FFFCFC;
  font-family: Ubuntu;
  font-size: 2em;
  padding: 0.5em 0.5em;
  margin: 0.2em 0.3em;
  border-radius: 25px;
  width: 6em;
  text-align: center;
  text-decoration: none;
}

.task_category_menu_item:hover {
  background-color: #FFFCFC !important;
  color: #203436 !important;
  //cursor: pointer;
}

// Custom Tooltip

.ui-tooltip, .arrow:after {
  background: #501010 !important;
  border: 2px solid #FFFCFC !important;
}
.ui-tooltip {
  padding: 10px 20px;
  color: #FFFCFC !important;
  border-radius: 20px;
  font: 14px "Ubuntu", Sans-Serif !important;
  box-shadow: 0 0 7px #501010;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
