// Place all the styles related to the TaskCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_category_menu {
  float: left;
  //border-top: 1px solid #555555;
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(100, 50, 50);
  border-right: 1px solid rgb(100, 50, 50);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #DDAAAA;
  width: 100%;
  box-shadow: 2px 2px rgb(100, 50, 50);
  //margin: 1em 0;
}
.task_category_menu_item {
  float: left;
  color: #FFFCFC;
  font-family: Ubuntu;
  font-size: 2em;
  padding: 0.5em 0.5em;
  margin: 0.2em 0.3em;
  border-radius: 25px;
  width: 6em;
  text-align: center;
}

.task_category_menu_item:hover {
  background-color: #FFFCFC !important;
  color: #203436 !important;
  //cursor: pointer;
}
