// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_item {
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0.1em 0;
    //padding: 0.2em;
    background-color: #CAF3D8;
    .list_item_tag {
	float: left;
	width: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #A0A0A0;
	font-size: 8px;
	text-align: center;
    }
    .list_item_name {
	float: left;
	width: calc(100% - 100px);
	margin: 0 40;
	border-bottom: 1px solid #909090;
	padding: 0 10px;
	font-family: "Ubuntu";
	font-size: 12pt;
    }
    .list_item_menu {
	float: right;
	width: 40px;
    }
}
