<div class="header">
  <div class="top_bar">
    <div class="account_options">
      <%= current_user.display_name %> (<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>)
    </div>
    <h1 class="align-center">Schemer</h1>
  </div>
</div>
